<div class="container background-red">

  <div class="intro">
    <div class="text-intro">
      <h1>Bonjour, je suis Clara Pécot !</h1>
        <h2 class="h2-white-55px">Full-stack developer</h2>
        <p class="p-text-white">Chargée de communication digitale pendant 3 ans, je suis aujourd’hui développeuse web full-stack, avec une préférence pour le front-end. </p>

        <div class="btn">
          <%= link_to 'me contacter', contact_path %>
        </div>

    </div>

    <div class="photo-clara">
      <img src="https://res.cloudinary.com/drb37tawz/image/upload/v1693501472/photo_de_clara_drlzcs.jpg">
    </div>
  </div>

  <div class="padding-bottom-100px">
    <h2 class="h2-homepage text-align-center">PROJETS</h2>

    <%# TODO %>

    <div class="projects-homepage">
      <% @projects.first(4).each do |project| %>
        <div class="img-vignette-project-homepage">

          <%= link_to project_path(project), class: "image-link" do %>
            <div class="image-container-projects-homepage">
              <% if project.photo.attached? %>
                <%= cl_image_tag project.photo.key, width: 250, height: 250, class: "object-fit-cover" %>
              <% else %>
                <%= cl_image_tag("mzkmpzx9dwxceco562qhx49zpug0.jpg", width: 250, height: 250, crop: :fill) %>
              <% end %>
              <!--
              <h3 class="image-text-projects-homepage"><%= project.name %></h2>
              -->
            </div>
          <% end %>

        </div>
      <% end %>
    </div>


    <div class="btn-italic btn-projects-homepage">
      <%= link_to '- voir plus', projects_path %>
    </div>
  </div>

  <div>
    <h2 class="h2-homepage text-align-center">COMPÉTENCES</h2>

      <div class="container-icones-competences flex-container space-between">

        <div>
          <div class="padding-bottom-40px">
            <i class="icone-competence padding-bottom-15px fa-solid fa-code" style="color: #ffffff;"></i>
            <p>développement d’applications web</p>
          </div>

          <div>
            <i class="icone-competence padding-bottom-15px fa-sharp fa-solid fa-photo-film" style="color: #ffffff;"></i>
            <p>montage vidéo</p>
          </div>
        </div>

        <div class="middle-column-competences">
          <div class="padding-bottom-40px">
            <i class="icone-competence padding-bottom-15px fa-brands fa-wordpress-simple" style="color: #ffffff;"></i>
            <p>création de sites wordpress</p>
          </div>

          <div>
            <i class="icone-competence padding-bottom-15px fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
            <p>référencement naturel et payant</p>
          </div>
        </div>

        <div>
          <div class="padding-bottom-40px">
            <i class="icone-competence padding-bottom-15px fa-solid fa-hashtag" style="color: #ffffff;"></i>
            <p>gestion de réseaux sociaux</p>
          </div>

          <div>
            <i class="icone-competence padding-bottom-15px fa-solid fa-palette" style="color: #ffffff;"></i>
            <p>suite adobe</p>
          </div>
        </div>

      </div>

      <div class="container-web-techno-part space-between">
        <h3 class="h3-white">Langages web et technologies</h3>

          <div class="web-techno-names">
            <div>
              <p class="padding-bottom-50px">Ruby</p>
              <p>Ruby on Rails</p>
            </div>

            <div class="middle-column-web-techno">
              <p class="padding-bottom-50px">Javascript</p>
              <p>SQL</p>
            </div>

            <div>
              <p class="padding-bottom-50px">HTML/CSS</p>
              <p>GitHub</p>
            </div>
          </div>
      </div>

  </div>

  <hr class="hr-footer">

  <%# FOOTER %>
  <div class="footer">

    <div class="email-footer">
      <h2>E-mail</h2>
        <p>clara.pecot@hotmail.fr</p>
    </div>

    <div class="social-media-footer">
      <h2>Réseaux sociaux</h2>
        <div>
          <p><a href="https://www.linkedin.com/in/clarapecot/" target="_blank">linkedin</a></p>
          <a href="https://github.com/ClaraP44" target="_blank">github</a></p>
        </div>
    </div>

  </div>

</div>
