<div class="container background-light-grey padding-bottom-150px">
  <h1 class="h1-light-red text-align-center padding-top-80px padding-bottom-50px fade-in-text">PROJETS</h1>

  <div class="category-links">
    <%= link_to 'Tous les projets', projects_path, class: ('selected' unless @selected_category.present?) %>
    <% @categories.each do |category| %>
      <%= link_to category.name, projects_path(category: category.name), class: ('selected' if category.name == @selected_category) %>
    <% end %>
  </div>

  <div class="columns-3">

    <% @projects.each do |project| %>

      <div class="img-vignette-projects">
        <%= link_to project_path(project), class: "image-link" do %>
          <div class="image-container-projects">
            <% if project.photo.attached? %>
              <%= cl_image_tag project.photo.key, class: "img-vignette-projects object-fit-cover" %>

              <!-- LOGO'S PROJECT -->
              <% if project.name == "ST Developments" || "Geocool" %>
                <div class="project-logo-container">
                  <%= cl_image_tag(project.logo.key, class: "project-logo") if project.logo.attached? %>
                </div>
              <% end %>

            <% else %>
              <%= cl_image_tag("mzkmpzx9dwxceco562qhx49zpug0.jpg", class: "img-vignette-projects object-fit-cover") %>
            <% end %>

            <%# PROJECT'S NAME %>
            <h2 class="image-text-projects"><%= project.name %></h2>

            <%# PROJECT'S CATEGORY %>

            <!--
            <p class="image-category-projects"><%= project.categories.first.name %></p>
            -->

          </div>
        <% end %>
      </div>
    <% end %>

  </div>

</div>
