<div class="container background-light-red padding-bottom-150px">
  <h1 class="h1-light-red text-align-center padding-top-80px padding-bottom-50px lineUp">PROJETS</h1>

  <div class="columns-3">

    <% @projects.each do |project| %>
      <div class="img-vignette-projects">
        <%= link_to project_path(project), class: "image-link" do %>
          <div class="image-container-projects">
            <% if project.photo.attached? %>
              <%= cl_image_tag project.photo.key, class: "img-vignette-projects object-fit-cover" %>
            <% else %>
              <%= cl_image_tag("mzkmpzx9dwxceco562qhx49zpug0.jpg", class: "img-vignette-projects object-fit-cover") %>
            <% end %>
            <%# PROJECT'S NAME %>
            <h2 class="image-text-projects"><%= project.name %></h2>

            <%# PROJECT CATEGORY %>

            <!--
            <p class="image-category-projects"><%= project.categories.first.name %></p>
            -->

          </div>
        <% end %>
      </div>
    <% end %>

  </div>

</div>
