<div class="container background-light-grey container-page-project-show">

  <%# IMAGE HERE %>
  <% if @project.photo.attached? %>
    <div class="container-project-image">
      <%= cl_image_tag @project.photo.key %>

      <!-- LOGO'S PROJECT -->
      <% if @project.name == "ST Developments" || "Geocool" %>
        <div class="page-show-project-logo-container">
          <%= cl_image_tag(@project.logo.key, class: "page-show-project-logo") if @project.logo.attached? %>
        </div>
      <% end %>

    </div>

  <% else %>
    <%= cl_image_tag("mzkmpzx9dwxceco562qhx49zpug0.jpg") %>
  <% end %>

  <h1 class="project-title h1-light-red fade-in-text"><%= @project.name.upcase %></h1>

  <div class="project-intro">

    <div class="project-data">

      <%# INFOS  PROJECT%>
      <div>
        <h2 class="h2-red">Catégorie</h2>
          <%# TO DO %>
          <div class="display-block">
          <% @project.categories.each do |category| %>
            <p><%= category.name %></p>
          <% end %>
          </div>
      </div>

      <div>
        <h2 class="h2-red">Année</h2>
          <p><%= @project.year %></p>
      </div>

      <% if @project.web_languages.present? %>
      <div>
        <h2 class="h2-red">Langages web</h2>
          <div class="display-block">
          <% @project.web_languages.each do |language| %>
            <p><%= language.name %></p>
          <% end %>
          </div>
      </div>
      <% end %>

      <% if @project.client.present? %>
      <div>
        <h2 class="h2-red">Client</h2>
        <p><%= @project.client %></p>
      </div>
      <% end %>

      <% if @project.team.present? %>
      <div>
        <h2 class="h2-red">Équipe</h2>
          <% team_members = @project.team.split("\n") %>
          <p><%= team_members.join("<br>").html_safe %></p>
      </div>
      <% end %>

    </div>

    <%# DESCRIPTION %>
    <div class="project-description">
      <p><%= @project.description %></p>
    </div>

  </div>

  <div class="project-images">
    <% @project.project_images.each do |image| %>
      <div class="project-image-alone">
        <%= image_tag image.image if image.image? %>
      </div>
    <% end %>
  </div>

  <% if @project.youtube_url.present? %>
    <iframe class="youtube-video" width="100%" height="563" src="<%= @project.youtube_url %>" frameborder="0" allowfullscreen></iframe>
  <% end %>



  <div class="next-project-part">

    <hr>

    <div>
      <div>
        <h2 class="h2-red">Projet suivant</h2>
      </div>

      <div>
        <% if @next_project %>
          <div class="btn-underline">
            <span><%= link_to @next_project.name, project_path(@next_project) %></span>
            <svg viewBox="0 0 13 20"><polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" /></svg>
          </div>
        <% else %>
          <p>Il n'y a pas de projet suivant</p>
        <% end %>
      </div>
    </div>

  </div>

</div>
