<div class="container background-light-red padding-bottom-150px">

  <%# IMAGE HERE %>
  <%= cl_image_tag @project.photo.key, width: 1000, height: 400, crop: :fill %>


  <h1 class="h1-light-red text-align-center padding-bottom-50px"><%= @project.name.upcase %></h1>

  <div class="container-infos-and-description-project flex-container">

    <div class="container-infos-project width-50percent">

      <%# INFOS  PROJECT%>
      <div>
        <h2 class="h2-red">Catégorie</h2>
      </div>

      <div>
        <h2 class="h2-red">Année</h2>
          <p><%= @project.year %></p>
      </div>

      <div>
        <h2 class="h2-red">Langages web</h2>
          <%# TO DO %>
      </div>

      <% if @project.client.present? %>
      <div>
        <h2 class="h2-red">Client</h2>
        <p><%= @project.client %></p>
      </div>
      <% end %>

      <% if @project.team.present? %>
      <div>
        <h2 class="h2-red">Équipe</h2>
          <% team_members = @project.team.split("\n") %>
          <p><%= team_members.join("<br>").html_safe %></p>
      </div>
      <% end %>

    </div>

    <%# DESCRIPTION %>
    <div class="container-description-project">
      <p><%= @project.description %></p>
    </div>

  </div>


</div>
