<div class="container background-light-red container-page-project-show">

  <%# IMAGE HERE %>
  <% if @project.photo.attached? %>
    <%= cl_image_tag @project.photo.key, width: 1000, height: 400, class: "project-image" %>
  <% else %>
    <%= cl_image_tag("mzkmpzx9dwxceco562qhx49zpug0.jpg", width: 1000, height: 400, class: "project-image") %>
  <% end %>

  <h1 class="project-title h1-light-red"><%= @project.name.upcase %></h1>

  <div class="project-intro">

    <div class="project-data">

      <%# INFOS  PROJECT%>
      <div>
        <h2 class="h2-red">Catégorie</h2>
          <%# TO DO %>
          <div class="display-block">
          <% @project.categories.each do |category| %>
            <p><%= category.name %></p>
          <% end %>
          </div>
      </div>

      <div>
        <h2 class="h2-red">Année</h2>
          <p><%= @project.year %></p>
      </div>

      <% if @project.web_languages.present? %>
      <div>
        <h2 class="h2-red">Langages web</h2>
          <div class="display-block">
          <% @project.web_languages.each do |language| %>
            <p><%= language.name %></p>
          <% end %>
          </div>
      </div>
      <% end %>

      <% if @project.client.present? %>
      <div>
        <h2 class="h2-red">Client</h2>
        <p><%= @project.client %></p>
      </div>
      <% end %>

      <% if @project.team.present? %>
      <div>
        <h2 class="h2-red">Équipe</h2>
          <% team_members = @project.team.split("\n") %>
          <p><%= team_members.join("<br>").html_safe %></p>
      </div>
      <% end %>

    </div>

    <%# DESCRIPTION %>
    <div class="project-description">
      <p><%= @project.description %></p>
    </div>

  </div>

  <%# <hr>

  <div>
    <p>Projet suivant</p>

  </div> %>

</div>
